.vscode/**
.github/**
.vscode-test/**
src/**
scripts/**
out/test/**
.gitignore
.clinerules-code
AGENTS.md
package-lock.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test-*.js
test-*.ts
*.vsix
